.title {
  color: #464646;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 24px;
}

.title .selector {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .title {
    font-size: 29px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title .select-container {
    height: 28px;
  }

  .title .select-container .select__control {
    display: flex;
    flex-direction: row;
    border: 2px solid #333333;
    width: 131px;
    height: 28px;
    min-height: 28px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    box-shadow: none;
  }
  
  .title .select-container .select__control .select__value-container {
    height: 100%;
    padding: 0;
  }
  
  .title .select-container .select__control .select__value-container .select__single-value {
    font-size: 10.5px;
    font-weight: 400;
    height: 100%;
    width: 93px;
    text-align: center;
    margin-top: -2.5px;
  }
  
  .title .select-container .select__control .select__indicators {
    height: 100%;
  }

  .title .select-container .select__control .select__indicators span {
    display: none;
  }

  .title .select-container .select__control .select__indicators .select__indicator svg {
    display: none;
  }
  
  .title .select-container .select__control .select__indicators .select__indicator {
    background: url("../../assets/img/triangle.svg") no-repeat right 0.82rem center;
    padding: 16px;
  }

  .title .select-container .select__menu {
    border-radius: 0;
    margin-top: -2px;
    margin-bottom: 0;
    border: 2px solid #333333;
  }

  .title .select-container .select__menu .select__menu-list {
    padding: 0;
    overflow-y: hidden;
  }
  
  .title .select-container .select__menu .select__menu-list .select__option {
    font-size: 10.5px;
    font-weight: 400;
    height: 28px;
    padding: 0;
    text-align: center;
  }
  
  .title .select-container .select__menu .select__menu-list .select__option:first-child {
    border-bottom: 2px solid #333333;
  }

  .title .select-container .select__menu .select__menu-list .select__option.select__option--is-focused {
    background-color: transparent;
    color: #333333;
  }
}

@media (min-width: 1100px) {
  .title {
    font-size: 45px;
    line-height: 54px;
    padding-bottom: 36px;
  }
}