.content {
  width: 351px;
  height: 351px;
  flex: 0 0 auto;
  margin-right: 1rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow-y: hidden;
}

.content:last-child {
  margin-right: 0;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-image {
  height: 100%;
}

.rectangle {
  z-index: 0;
  height: 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.thumb-position {
  position: absolute;
  top: 41.5%;
}

.left-separation {
  margin-left: 12px;
}

.white-text {
  color: #fff;
  font-weight: 400;
}

.name {
  width: 281px;
  height: 74px;
  margin: 7px 0 7px 0;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
}

.text-box {
  width: 279px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.description {
  height: 36px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  text-align: end;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.vote-btn {
  border: 1px solid #fff;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  width: 107px;
  height: 38px;
}

.gauge-bar-container {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.gauge-bar-container .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gauge-bar-container .green {
  background: rgba(60, 187, 180, 0.6);
  height: 100%;
  justify-content: flex-start;
}

.gauge-bar-container .yellow {
  background: rgba(249, 173, 29, 0.6);
  height: 100%;
  justify-content: flex-end;
}